@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito&display=swap');
.App {
  text-align: center;
  background-color: rgb(0, 65, 101, 0.1);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, li {
  color:rgb(97, 96, 96)
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
}

p, li, a {
  font-family: 'Quicksand';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(62, 19, 26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message{
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff3f;
  border: 2px solid #9e9e9e;
  padding-left: 1em;
  padding-right: 1em;
}
.message ul{
  text-align: left;
}
.message p.messageText{
  margin-bottom: 0;
  text-decoration: underline;
}
