.search input{
    border-width: '0px';
    border: none;
    outline: '0';
    margin-top: 30px;
    height: 40px;
    width: 500px;
    border-right: none;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    

}
.search{
    display: flex;
}
.search button{
    border-width: '0px';
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 40px;
    border:1px round rgb(66, 66, 66);
    background-color:#66c1ca;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pageResult{
    padding-left: 2px;
    margin-top:0;
    width: 500px;
    height: 100px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 1);
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pageResult::-webkit-scrollbar{
    display: none;
}
.dataItem:hover{
    background-color: lightgray;
}
a{
    text-decoration:none;
}

.pageResult .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    color: black;
}